:root {
  --red: #f7162d;
  --green: green;
  --yellow: yellow;
  --blue: blue;
  --border: 1px solid black;
}

body {
    margin: 0;
}

#mainframe {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.ludoboard {
    background-color: white;
    border: var(--border);
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(15, 40px);
    grid-template-rows: repeat(15, 40px);
}

/* Common styles */
.playerzone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.player, .step, .redsafe, .greensafe, .yellowsafe, .bluesafe {
    border: var(--border);
}

.player {
    border-radius: 50%;
    background-color: white;
    opacity: 0.9;
    width: 50px;
    height: 50px;
}

/* Red Zone */
.red {
    background-color: var(--red);
    border: 1px solid #9e0616;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/7;
    grid-row: 1/7;
}

.redsafe {
    background-color: var(--red);
}

/* Green Zone */
.green {
    background-color: var(--green);
    border: 1px solid darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 10/16;
    grid-row: 1/7;
}

.greensafe {
    background-color: var(--green);
}

/* Yellow Zone */
.yellow {
    background-color: var(--yellow);
    border: 1px solid yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/7;
    grid-row: 10/16;
}

.yellowsafe {
    background-color: var(--yellow);
}

/* Blue Zone */
.blue {
    background-color: var(--blue);
    border: 1px solid darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 10/16;
    grid-row: 10/16;
}

.bluesafe {
    background-color: var(--blue);
}
